<a href="https://colab.research.google.com/github/jisoolee11/Deep-Learning/blob/main/MLschool/flatten_layer_image.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Flatten Layer를 활용한 이미지 실습

In [2]:
import tensorflow as tf
import pandas as pd

<h2>with reshape

In [3]:
# 데이터를 준비하고
(독립, 종속), _ = tf.keras.datasets.mnist.load_data()
print(독립.shape, 종속.shape)

독립 = 독립.reshape(60000, 784)
종속 =pd.get_dummies(종속)
print(독립.shape, 종속.shape)

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.npz
11493376/11490434 [==============================] - 0s 0us/step
(60000, 28, 28) (60000,)
(60000, 784) (60000, 10)

In [5]:
# 모델을 만들고
X = tf.keras.layers.Input(shape=[784])
H = tf.keras.layers.Dense(84, activation='swish')(X)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [6]:
# 모델을 학습하고
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 4s 2ms/step - loss: 6.8808 - accuracy: 0.7948
Epoch 2/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.5515 - accuracy: 0.9130
Epoch 3/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4624 - accuracy: 0.9317
Epoch 4/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4175 - accuracy: 0.9381
Epoch 5/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3944 - accuracy: 0.9451
Epoch 6/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3876 - accuracy: 0.9459
Epoch 7/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3755 - accuracy: 0.9475
Epoch 8/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3613 - accuracy: 0.9502
Epoch 9/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3683 - accuracy: 0.9496
Epoch 10/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3514 - accuracy: 0.9522

In [8]:
# 모델을 이용합니다.
pred = model.predict(독립[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [10]:
종속[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

<h2>with flatten

In [11]:
# 데이터를 준비하고
(독립, 종속), _ = tf.keras.datasets.mnist.load_data()
print(독립.shape, 종속.shape)

# 독립 = 독립.reshape(60000, 784)
종속 =pd.get_dummies(종속)
print(독립.shape, 종속.shape)

(60000, 28, 28) (60000,)
(60000, 28, 28) (60000, 10)

In [12]:
# 모델을 만들고
X = tf.keras.layers.Input(shape=[28, 28])
H = tf.keras.layers.Flatten()(X)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [13]:
# 모델을 학습하고
model.fit(독립, 종속, epochs=5)

Epoch 1/5
1875/1875 [==============================] - 4s 2ms/step - loss: 6.4925 - accuracy: 0.7824
Epoch 2/5
1875/1875 [==============================] - 4s 2ms/step - loss: 0.6132 - accuracy: 0.8986
Epoch 3/5
1875/1875 [==============================] - 4s 2ms/step - loss: 0.5008 - accuracy: 0.9205
Epoch 4/5
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4506 - accuracy: 0.9307
Epoch 5/5
1875/1875 [==============================] - 3s 2ms/step - loss: 0.4369 - accuracy: 0.9372