<a href="https://colab.research.google.com/github/jisoolee11/Deep-Learning/blob/main/MLschool/predicting_house_price_in_Boston.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>보스턴 집값 예측</h1>

-보스턴: https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv

In [ ]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [ ]:
# 과거의 데이터를 준비합니다.
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
보스턴 = pd.read_csv(파일경로)
print(보스턴.columns)
보스턴.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [ ]:
# 독립변수, 종속변수 분리
독립 = 보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'b', 'lstat']]
종속 = 보스턴[['medv']]
print(독립.shape, 종속. shape)

(506, 13) (506, 1)

In [ ]:
# 모델의 구조를 만듭니다.
X = tf.keras.layers.Input(shape=[13])
H = tf.keras.layers.Dense(8, activation = 'swish')(X)
Y = tf.keras.layers.Dense(1)(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss = 'mse')

In [ ]:
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 13)]              0
_________________________________________________________________
dense (Dense)                (None, 10)                140
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 11
=================================================================
Total params: 151
Trainable params: 151
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# 모델의 구조를 만듭니다. + BatchNormalization
X = tf.keras.layers.Input(shape=[13])

H = tf.keras.layers.Dense(8)(X)
H = tf.keras.layers.BatchNormalization()(H)
H = tf.keras.layers.Activation('swish')(H)

H = tf.keras.layers.Dense(8)(X)
H = tf.keras.layers.BatchNormalization()(H)
H = tf.keras.layers.Activation('swish')(H)

H = tf.keras.layers.Dense(8)(X)
H = tf.keras.layers.BatchNormalization()(H)
H = tf.keras.layers.Activation('swish')(H)

Y = tf.keras.layers.Dense(1)(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss = 'mse')

In [ ]:
# 데이터로 모델을 학습(FIT)합니다.
model.fit(독립, 종속, epochs=1000, verbose=0)
model.fit(독립, 종속, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 15.3446
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 15.0384
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 17.4668
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 14.8166
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 14.8754
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 14.7657
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 14.5212
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 16.1688
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 14.0740
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 14.7599

In [ ]:
# 모델을 이용합니다
model.predict(독립[:5])

array([[30.275162],
       [23.443123],
       [31.665527],
       [35.03644 ],
       [34.319027]], dtype=float32)

In [ ]:
종속[:5]

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [ ]:
# 모델의 수식 확인
model.get_weights()

[array([[ 9.67579603e-01,  1.17135927e-01,  2.46461675e-01,
          3.27662170e-01,  2.35773802e-01, -5.01384556e-01,
         -1.41159832e-01, -3.51487339e-01, -4.27840352e-02,
          4.44115669e-01],
        [ 4.10699062e-02, -4.84210283e-01,  2.93094337e-01,
          1.75069958e-01,  1.53122425e-01, -3.01437795e-01,
         -3.04763466e-01, -2.87029415e-01, -4.54958171e-01,
         -1.90204158e-01],
        [-9.85254169e-01,  1.62609369e-01,  5.19931726e-02,
         -4.60282087e-01, -4.03430551e-01, -4.78115648e-01,
         -8.62157047e-02,  3.45622778e-01, -2.45084822e-01,
          6.05362952e-01],
        [-1.64766455e+00, -2.09851837e+00,  1.60870290e+00,
         -1.42925930e+00, -4.29803222e-01, -1.00619644e-01,
          6.86765432e-01,  1.81828463e+00,  1.49088442e-01,
         -2.01676416e+00],
        [ 4.81925756e-01, -2.21609429e-01, -5.27736485e-01,
          4.77522314e-01,  7.30359554e-02,  4.02416646e-01,
         -8.26329052e-01, -2.26836994e-01, -2.07495004e-01,
          9.02920008e-01],
        [ 2.32200027e+00, -2.69706440e+00,  1.44252837e+00,
         -1.85464907e+00,  4.29150522e-01,  4.62434649e-01,
          1.63505030e+00,  3.02872109e+00,  6.14821911e-04,
         -1.99907184e+00],
        [ 5.32315560e-02, -8.48668456e-01,  3.09591740e-01,
          2.88905531e-01, -5.05617440e-01, -3.75267208e-01,
         -1.77585080e-01, -4.94396091e-01,  4.70969737e-01,
         -1.81321606e-01],
        [-2.46536389e-01,  2.92715579e-01, -7.20349073e-01,
          4.39681828e-01,  1.19125485e-01,  4.70204890e-01,
         -2.63489336e-01, -6.07787073e-01, -4.30189133e-01,
          9.83390436e-02],
        [-5.74441493e-01, -6.56959772e-01,  3.74775045e-02,
          1.81358337e-01, -1.33034557e-01,  2.43327022e-01,
          1.28151193e-01,  1.90716639e-01, -4.79697853e-01,
         -1.23581447e-01],
        [-1.35705709e-01,  1.25613987e-01,  2.40252331e-01,
          1.11557439e-01, -1.96503311e-01, -4.11756068e-01,
         -2.62190811e-02,  4.27734926e-02, -2.23521948e-01,
          3.05525064e-01],
        [-1.09424412e+00, -2.98076361e-01, -5.51758334e-02,
          3.15821409e-01,  3.43515575e-01,  2.62158751e-01,
         -8.72061431e-01, -7.97385693e-01, -5.99622726e-04,
          2.00094029e-01],
        [ 1.04981996e-01,  1.59095034e-01,  1.33937120e-01,
          3.70479226e-01, -2.04262491e-02, -2.17736125e-01,
          8.46344754e-02,  9.71653238e-02, -2.05708951e-01,
         -1.17216550e-01],
        [-1.37061745e-01, -5.47157824e-01, -4.07110929e-01,
          1.00005306e-01,  3.36426914e-01,  3.94104898e-01,
          4.30233210e-01, -1.23859894e+00, -9.13759470e-02,
          5.37336826e-01]], dtype=float32),
 array([ 2.9786015e-01, -1.3115114e+00,  8.1875235e-01, -8.8576055e-01,
         1.2925274e-09,  0.0000000e+00,  5.9311104e-01,  6.1051029e-01,
        -3.0531394e-23, -7.7109677e-01], dtype=float32),
 array([[ 1.0141351 ],
        [-0.18857771],
        [ 0.47589946],
        [-0.23585393],
        [ 0.14768517],
        [-0.6565365 ],
        [ 0.31546086],
        [ 0.5513423 ],
        [ 0.04924589],
        [-0.27104625]], dtype=float32),
 array([0.8420094], dtype=float32)]