<a href="https://colab.research.google.com/github/jisoolee11/Deep-Learning/blob/main/MLschool/predict_lemonade_sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>레모네이드 판매 예측</h1>

-github csv url: https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv

In [ ]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [ ]:
# 데이터 준비
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
데이터 = pd.read_csv(파일경로)
데이터.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [ ]:
# 종속변수, 독립변수
독립 = 데이터[{'온도'}]
종속 = 데이터[{'판매량'}]
print(독립.shape, 종속.shape)

(6, 1) (6, 1)

In [ ]:
# 모델을 만듭니다
X =tf.keras.layers.Input(shape=[1])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [ ]:
# 모델을 학습합니다
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1/1 [==============================] - 0s 5ms/step - loss: 4.3626e-04
Epoch 2/10
1/1 [==============================] - 0s 6ms/step - loss: 4.3593e-04
Epoch 3/10
1/1 [==============================] - 0s 7ms/step - loss: 4.3569e-04
Epoch 4/10
1/1 [==============================] - 0s 7ms/step - loss: 4.3545e-04
Epoch 5/10
1/1 [==============================] - 0s 5ms/step - loss: 4.3521e-04
Epoch 6/10
1/1 [==============================] - 0s 4ms/step - loss: 4.3513e-04
Epoch 7/10
1/1 [==============================] - 0s 4ms/step - loss: 4.3490e-04
Epoch 8/10
1/1 [==============================] - 0s 5ms/step - loss: 4.3460e-04
Epoch 9/10
1/1 [==============================] - 0s 3ms/step - loss: 4.3425e-04
Epoch 10/10
1/1 [==============================] - 0s 4ms/step - loss: 4.3402e-04

In [ ]:
# 모델을 이용합니다.
model.predict(독립)

array([[40.01582 ],
       [42.00529 ],
       [43.994762],
       [45.98423 ],
       [47.9737  ],
       [49.963173]], dtype=float32)

In [ ]:
model.predict([15])

array([[30.068472]], dtype=float32)