<a href="https://colab.research.google.com/github/jisoolee11/Deep-Learning/blob/main/predicting_house_price_in_Boston.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>보스턴 집값 예측</h1>

-보스턴: https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv

In [ ]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [ ]:
# 과거의 데이터를 준비합니다.
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
보스턴 = pd.read_csv(파일경로)
print(보스턴.columns)
보스턴.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [ ]:
# 독립변수, 종속변수 분리
독립 = 보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'b', 'lstat']]
종속 = 보스턴[['medv']]
print(독립.shape, 종속. shape)

(506, 13) (506, 1)

In [ ]:
# 모델의 구조를 만듭니다.
X = tf.keras.layers.Input(shape=[13])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss = 'mse')

In [ ]:
# 데이터로 모델을 학습(FIT)합니다.
model.fit(독립, 종속, epochs=1000, verbose=0)
model.fit(독립, 종속, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 23.6170
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 24.5756
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 23.5933
Epoch 4/10
16/16 [==============================] - 0s 973us/step - loss: 24.2786
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 23.8699
Epoch 6/10
16/16 [==============================] - 0s 931us/step - loss: 23.7707
Epoch 7/10
16/16 [==============================] - 0s 970us/step - loss: 24.5131
Epoch 8/10
16/16 [==============================] - 0s 972us/step - loss: 23.8699
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 24.5024
Epoch 10/10
16/16 [==============================] - 0s 949us/step - loss: 23.8310

In [ ]:
# 모델을 이용합니다
model.predict(독립[:5])

array([[29.15884 ],
       [23.96304 ],
       [30.579397],
       [29.306189],
       [28.92382 ]], dtype=float32)

In [ ]:
종속[:5]

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [ ]:
# 모델의 수식 확인
model.get_weights()

[array([[-0.09106293],
        [ 0.04714159],
        [-0.02981663],
        [ 2.672067  ],
        [ 0.3580904 ],
        [ 5.3560524 ],
        [-0.01261568],
        [-1.01202   ],
        [ 0.18776873],
        [-0.01165496],
        [-0.46492192],
        [ 0.01240791],
        [-0.4606708 ]], dtype=float32), array([5.350349], dtype=float32)]